
body {
  max-width: 480px;
  margin: 10px auto;
}

.pomodoro {
  font-size: 16pt;
}

.pomodoro h1 {
  font-size: 50pt;
  margin-bottom: 67px;
}

.spinner {
  display: inline-block;
  margin: 0 auto;
  font-size: 16pt;
}

.spinner button {
  display: inline-block;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.state {
  font-size: 21pt;
  margin-top: 30px;
}

.currentTime {
  font-size: 50pt;
}
